@model TimeSheetApp.Models.SchHolidays

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset style="text-align:center">
        <legend>Create Scheduled Holidays</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.HolidayStart)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HolidayStart)
            <br />
            @Html.ValidationMessageFor(model => model.HolidayStart)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HolidayEnd)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HolidayEnd)
            <br />
            @Html.ValidationMessageFor(model => model.HolidayEnd)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Reason)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Reason)
            <br />
            @Html.ValidationMessageFor(model => model.Reason)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
